PORT=3001
FRONTEND_URL=http://localhost:5173

GITHUB_ORG=Chandan11232
GITHUB_TOKEN=your-github-token-here

SENTRY_ORG=devpulse
SENTRY_TOKEN=8bf895ac44409eec33414d038552fd1012d05b6968a0cb9b8d7b502df91dc0d6

SLACK_TOKEN=xoxb-xxxxxxxxxxxxxxxxxxxx
SLACK_INCIDENT_CHANNEL=incidents

LOOKBACK_DAYS=30
